services:
  postgres:
    image: postgres:16-alpine
    container_name: lpf-postgres
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: lpf_user
      POSTGRES_PASSWORD: lpf_password
      POSTGRES_DB: lpf_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: lpf-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
